html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* vh = hauteur de la fenêtre */
}

.content {
  flex: 1; /* prend tout l’espace disponible */
}

