footer {
    background: #0d0d0d;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 1px solid #222;
    width: 100%;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 10;
}
